@import "../../styles/fonts";
@import "../../styles/breakpoints";
@import "../../styles/sizes";
@import "../../styles/colours";

$base-size-portrait: 4vmin;
$base-size-landscape: 2.25vmin;

.lacuna-info-icon {
  margin-left: 0.33rem;
  font-family: $roboto;
  text-transform: none;
  font-size: 1rem;
  img {
    width: 0.8em;
    height: 0.8em;
    position: relative;
    top: 1px;
  }

  .children {
    color: $blue;
    margin-left: 0.33rem;
  }

  &--with-text {
    display: block;
    margin-left: 0rem;
    margin-top: 0.33rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
  }
}

.lacuna-modal {
  position: fixed;
  width: $base-size-landscape * 16;
  height: $base-size-landscape * 16;
  top: calc(50vh - ($base-size-landscape * 8));
  left: calc(50vw - ($base-size-landscape * 8));
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 5px solid white;
  & > img {
    display: block;
    height: 100%;
    width: auto;
    margin: 0 auto;
  }

  .info-inner {
    width: 100%;
    padding: 24px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .paragraph-selector__content {
    padding: 0 !important;
  }
}

@media all and (max-aspect-ratio: 10/17) {
  .lacuna-modal {
    position: fixed;
    width: $base-size-portrait * 16;
    height: $base-size-portrait * 16;
    top: calc(50vh - ($base-size-portrait * 8));
    left: calc(50vw - ($base-size-portrait * 8));
  }
}
