$grey: #aaaaaa;
$blue: #0a67f2;
$white: #fefefe;
$black: #000000;
$ochre: #dfb408;
$darker-ochre: #d99609;
$red: #fd0002;

$background-colour: $white;
$frame-inner-background-colour: transparentize($white, 0.1);
$border-link-colour: $white;

$border-colour-yellow: $ochre;
$text-colour-yellow: $darker-ochre;
$link-colour-yellow: $darker-ochre;
$title-colour-yellow: $ochre;
$sucker-colour-yellow: $ochre;

$border-colour-red: $red;
$text-colour-red: $red;
$link-colour-red: $red;
$title-colour-red: $red;
$sucker-colour-red: $red;
