@import "../styles/colours";
@import "../styles/fonts";
@import "../styles/breakpoints";
@import "../styles/sizes";

// colours
.nav-frame {
  border-color: $border-colour-yellow;
}

.section {
  color: $text-colour-yellow;
}

.paragraph-selector__controls {
  pointer-events: none;
  button {
    pointer-events: all;
    color: $link-colour-yellow;
  }
}

a,
a:link,
a:visited,
a:active {
  color: $link-colour-yellow;
}

.theme--red {
  .nav-frame {
    border-color: $border-colour-red;
  }

  .section {
    color: $text-colour-red;
  }

  .paragraph-selector__controls {
    button {
      color: $link-colour-red;
    }
  }

  a,
  a:link,
  a:visited,
  a:active {
    color: $link-colour-red;
  }
}

// other styles

// - base variables
$base-size-portrait: 4vmin;
$base-size-landscape: 2.25vh;
// $base-size-s: 16px;
// $base-size-m: 18px;
// $base-size-l: 24px;

.scroll-height-container {
  height: 520vh;
  z-index: -10000;
  // transition: 300ms;
  &--hidden {
    position: fixed;
    transform: translateY(1000px);
  }
  &--no-scroll {
    height: 100vh;
  }
}

.nav-frame {
  width: $base-size-landscape * 22;
  height: $base-size-landscape * 22;
  pointer-events: none;
  position: fixed;
  display: flex;
  border-style: solid;
  border-width: $base-size-landscape * 3;
  z-index: 999999999;
  .nav-frame__link {
    width: 100%;
    height: 100%;
    padding-top: $base-size-landscape * 0.55;
    padding-left: $base-size-landscape;
    position: absolute;
    &:nth-child(2) {
      transform: rotate(90deg);
    }
    &:nth-child(3) {
      transform: rotate(180deg);
    }
    &:nth-child(4) {
      transform: rotate(270deg);
    }
    & > a,
    & > span {
      font-family: $form;
      font-size: $base-size-landscape * 2;
      color: $border-link-colour !important;
      text-decoration: none;
      text-transform: uppercase;
      position: relative;
      top: -($base-size-landscape * 3.1);
      left: -($base-size-landscape * 3.1);
    }
  }
}

.spin-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.section {
  background-color: $frame-inner-background-colour;
  pointer-events: auto;
  position: absolute;
  width: calc(($base-size-landscape * 22) - 4px);
  height: calc(($base-size-landscape * 22) - 4px);
  margin: $base-size-landscape / 8;
  padding: $base-size-landscape * 3;
  font-family: $form;
  line-height: 1.2em;
  font-size: $base-size-landscape;
  text-align: center;
  text-transform: uppercase;
  &--two {
    transform: rotate(90deg);
  }
  &--three {
    transform: rotate(180deg);
  }

  &--four {
    transform: rotate(270deg);
  }
  &--hidden {
    display: none;
  }
  .zoom-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}

.paragraph-selector {
  width: 100%;
  height: 100%;
  &__container {
    height: 100%;
    width: 100%;
  }
  &__content {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: $base-size-landscape * 1.5;
    transition: opacity 300ms, transform 300ms;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &--left {
      opacity: 0;
      transform: translateX(-1000px);
    }
    &--right {
      opacity: 0;
      transform: translateX(1000px);
    }
    &--current {
      opacity: 1;
      transform: translateX(0);
    }
  }
  &__controls {
    position: absolute;
    height: $base-size-landscape * 2;
    width: 100%;
    left: 0;
    top: calc(50% - $base-size-landscape);
    padding: 0 ($base-size-landscape / 3);
    button {
      border: none;
      background: none;
      font-size: 1.2em;
      font-weight: bold;
      cursor: pointer;
    }
  }
  &__prev {
    float: left;
    margin-left: -($base-size-landscape / 3);
    padding-left: $base-size-landscape / 2;
  }
  &__next {
    float: right;
    margin-right: -($base-size-landscape / 3);
    padding-right: $base-size-landscape / 2;
  }
}

a,
a:link,
a:visited,
a:active {
  cursor: pointer;
  pointer-events: auto;
}

.frame-image {
  width: 90%;
  height: 90%;
  display: block;
  margin: 0 auto;
}

@media all and (max-aspect-ratio: 10/17) {
  .nav-frame {
    width: $base-size-portrait * 22;
    height: $base-size-portrait * 22;
    border-width: $base-size-portrait * 3;
    .nav-frame__link {
      padding-top: $base-size-portrait * 0.55;
      padding-left: $base-size-portrait;
      & > a,
      & > span {
        font-size: $base-size-portrait * 2;
        top: -($base-size-portrait * 3.1);
        left: -($base-size-portrait * 3.1);
      }
    }
  }

  .section {
    width: calc(($base-size-portrait * 22) - 4px);
    height: calc(($base-size-portrait * 22) - 4px);
    margin: $base-size-portrait / 8;
    padding: $base-size-portrait * 3;
    font-size: $base-size-portrait;
  }

  .paragraph-selector {
    &__content {
      padding: $base-size-portrait * 1.5;
    }
    &__controls {
      height: $base-size-portrait * 2;
      top: calc(50% - $base-size-portrait);
      padding: 0 ($base-size-portrait / 3);
    }
    &__prev {
      margin-left: -($base-size-portrait / 2);
    }
    &__next {
      margin-right: -($base-size-portrait / 2);
    }
  }
}
